body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1079px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1206 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1206_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1206_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:705px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.47843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:705px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:344px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:555px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1209 {
  position:absolute;
  left:93px;
  top:81px;
  width:803px;
  height:555px;
  font-size:14px;
  text-align:left;
}
#u1210 {
  position:absolute;
  left:2px;
  top:270px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1211 {
  position:absolute;
  left:449px;
  top:99px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1212 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1213 {
  position:absolute;
  left:873px;
  top:99px;
  width:15px;
  height:15px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:2px;
}
#u1215 {
  position:absolute;
  left:93px;
  top:129px;
  width:803px;
  height:1px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:-8px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1217 {
  position:absolute;
  left:370px;
  top:568px;
  width:101px;
  height:44px;
  font-size:16px;
  color:#666666;
}
#u1218 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1219 {
  position:absolute;
  left:553px;
  top:568px;
  width:101px;
  height:44px;
  font-size:16px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:2px;
}
#u1221 {
  position:absolute;
  left:93px;
  top:546px;
  width:803px;
  height:1px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1223 {
  position:absolute;
  left:131px;
  top:158px;
  width:88px;
  height:22px;
}
#u1224 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u1225 {
  position:absolute;
  left:227px;
  top:151px;
  width:534px;
  height:35px;
}
#u1225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u1226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1226 {
  position:absolute;
  left:131px;
  top:218px;
  width:88px;
  height:22px;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u1228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#666666;
}
#u1228 {
  position:absolute;
  left:227px;
  top:206px;
  width:134px;
  height:55px;
  font-size:48px;
  color:#666666;
}
#u1229 {
  position:absolute;
  left:2px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1230 {
  position:absolute;
  left:371px;
  top:220px;
  width:414px;
  height:22px;
  color:#999999;
}
#u1231 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1232 {
  position:absolute;
  left:131px;
  top:278px;
  width:88px;
  height:17px;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u1234 {
  position:absolute;
  left:229px;
  top:279px;
  width:100px;
  height:16px;
}
#u1235 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1234_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#999999;
}
#u1236 {
  position:absolute;
  left:227px;
  top:308px;
  width:134px;
  height:55px;
  font-size:48px;
  color:#999999;
}
#u1237 {
  position:absolute;
  left:2px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1238 {
  position:absolute;
  left:371px;
  top:327px;
  width:414px;
  height:22px;
  color:#999999;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  position:absolute;
  left:144px;
  top:425px;
  width:52px;
  height:17px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u1242 {
  position:absolute;
  left:227px;
  top:418px;
  width:534px;
  height:35px;
}
#u1242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1243 {
  position:absolute;
  left:131px;
  top:373px;
  width:88px;
  height:22px;
}
#u1244 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u1245 {
  position:absolute;
  left:227px;
  top:373px;
  width:529px;
  height:35px;
}
#u1245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1245_input:disabled {
  color:grayText;
}
#u1246 {
  position:absolute;
  left:227px;
  top:463px;
  width:534px;
  height:35px;
}
#u1246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1247 {
  position:absolute;
  left:131px;
  top:470px;
  width:88px;
  height:22px;
}
#u1248 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1249 {
  position:absolute;
  left:131px;
  top:508px;
  width:88px;
  height:22px;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u1251 {
  position:absolute;
  left:229px;
  top:515px;
  width:30px;
  height:15px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_ann {
  position:absolute;
  left:252px;
  top:511px;
  width:1px;
  height:1px;
}
